* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #b6e5ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 380px;
    background: #b6e5ff;
    padding: 30px 25px;
    border-radius: 10px;
    text-align: left;
}

h2 {
    font-size: 26px;
    font-weight: bold;
}

.subtitle {
    margin-top: 5px;
    color: #444;
    margin-bottom: 25px;
}

label {
    font-size: 14px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin: 8px 0 15px;
    font-size: 14px;
    outline: none;
}

.password-box {
    position: relative;
}

.toggle {
    position: absolute;
    right: 12px;
    top: 16px;
    cursor: pointer;
    font-size: 16px;
}

.forgot {
    text-align: right;
    margin-top: -5px;
    margin-bottom: 15px;
}

.forgot a {
    text-decoration: none;
    color: #e54d6e;
    font-size: 13px;
    font-weight: 600;
}

.btn {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-top: 12px;
}

.login-btn {
    background: #0e121a;
    color: white;
}

.divider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #666;
}

.divider span {
    flex: 1;
    height: 1px;
    background: #aaa;
    margin: 0 10px;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: white;
    border: 1px solid #ddd;
    font-weight: 500;
}

.register-text {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #444;
}

.register-text a {
    text-decoration: none;
    font-weight: bold;
    color: #e54d6e;
}
